<div class="container">
    <div class="container">
      <br />
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <img src="Vector.png" alt="imagen" />
          <a class="navbar-brand margen">SmartGarden</a>
          <a class="margen inicio" (click)="navegate('/home')">Inicio</a>
          <div class="collapse navbar-collapse margenDerecha" id="navbarNavAltMarkup">
            <div class="navbar-nav esquina ms-auto">
              <a class="nav-link capsula registro inicio" (click)="cerrarSesion()"
              >Cerrar Sesion</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <hr />
  <div class="container">
    <br><br>
    <h1>Agregar Empleado</h1>
    <br>
    <br>
    <form [formGroup]="employeeForm" (ngSubmit)="actualizarEmpleado()" class="row g-3 needs-validation">
      <div class="mb-3">
        <input
        
          type="text"
          class="form-control"
          id="primerNombre"
          formControlName="primerNombre"
          placeholder="Primer Nombre"
          [ngClass]="{'is-invalid': hasErrors('primerNombre', 'required')}"
        />

        @if (hasErrors('primerNombre', 'required')) {
          <div class="text-danger">El primer nombre es obligatorio.</div>
        }
      </div>
  
      <div class="mb-3">
        <input type="text" class="form-control" id="segundoNombre" formControlName="segundoNombre" placeholder="Segundo Nombre" />
      </div>
  
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="primerApellido"
          formControlName="primerApellido"
          placeholder="Primer Apellido"
          [ngClass]="{'is-invalid': hasErrors('primerApellido', 'required')}"
        />
        @if (hasErrors('primerApellido', 'required')) {
          <div class="text-danger">El primer apellido es obligatorio.</div>
        }
      </div>
  
      <div class="mb-3">
        <input type="text" class="form-control" id="segundoApellido" formControlName="segundoApellido" placeholder="Segundo Apellido" />
      </div>
  
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Correo Electrónico"
          [ngClass]="{'is-invalid': hasErrors('email', 'required') || hasErrors('email', 'email')}"
        />
        @if (hasErrors('email', 'required')) {
          <div class="text-danger">El correo electrónico es obligatorio.</div>
        }
        @if (hasErrors('email', 'email')) {
          <div class="text-danger">Introduzca un correo electrónico válido.</div>
        }
      </div>
  
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          placeholder="Contraseña"
          [ngClass]="{'is-invalid': hasErrors('password', 'required') || hasErrors('password', 'minlength')}"
        />
        @if (hasErrors('password', 'required')) {
          <div class="text-danger">La contraseña es obligatoria.</div>
        }
        @if (hasErrors('password', 'minlength')) {
          <div class="text-danger">La contraseña debe tener al menos 6 caracteres.</div>
        }
      </div>
  
  
      <div class="mb-3">
        <select id="rol" class="form-control" formControlName="role" [ngClass]="{'is-invalid': hasErrors('role', 'required')}">
          <option value="" disabled>Seleccione un rol</option>
          <option value="01">GERENTE</option>
          <option value="02">JEFE DE CULTIVO</option>
          <option value="03">ENCARGADO DE SIEMBRA</option>
          <option value="04">ESPECIALISTA EN RIEGO</option>
          <option value="05">CONTROL DE PLAGAS</option>
          <option value="06">PODADOR</option>
          <option value="07">ENCARGADO DE FERTILIZACION</option>
          <option value="08">OPERARIO DE INVERNADERO</option>
          <option value="09">LOGISTICA Y VENTAS</option>
        </select>
        @if (hasErrors('role', 'required')) {
          <div class="text-danger">Seleccione un rol.</div>
        }
      </div>
  
      <button type="submit" class="capsula">Actualizar</button>
    </form>
  </div>
  